.ModelBuilder {
    /* max-width:720px; */
    margin: 0px auto;
    text-align:center;
}
canvas#renderCanvas {
    display: block;
    border: 1px solid black;
}

.canvasContainer {
    border: 1px solid black;
    display:inline-block;
    /* margin:5px; */
}

canvas#drawCanvas {
    max-width: 512px;
    display: block;
    width: 100%;
}

textarea {
    width: 100%;
    max-width:640px;
}